@charset "UTF-8";

// ---------------------------------------------
//  reset
// ---------------------------------------------

* {
  box-sizing: border-box;
}

::before,
::after {
  pointer-events: none;
}

:focus-visible {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
picture,
svg,
video,
label {
  display: block;
}

img,
picture,
svg,
video {
  max-inline-size: 100%;
  block-size: auto;
}

input[type="submit"],
input[type="button"],
button {
  all: unset;
}

a[href],
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"]),
[role="button"],
[role="option"] {
  cursor: pointer;
  touch-action: manipulation;
}
input[type="file"] {
  cursor: auto;
}
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  cursor: pointer;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  color-scheme: dark light;
  tab-size: 2;
  scrollbar-gutter: stable;
  block-size: 100%;
}

body {
  word-break: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

label {
  cursor: pointer;
}

blockquote,
q {
  quotes: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
button,
textarea,
select,
input[type="file"]::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  visibility: hidden;
}

input::-ms-reveal {
  visibility: hidden;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

// https://github.com/fokus-dev/uaplus/blob/main/uaplus.cs
:where(del, ins, s)::before,
:where(del, ins, s)::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  content: "test";
}

:where(s)::before {
  content: "stricken text start ";
}

:where(s)::after {
  content: " stricken text end";
}

:where(del)::before {
  content: "deletion start ";
}

:where(del)::after {
  content: " deletion end";
}

:where(ins)::before {
  content: "insertion start ";
}

:where(ins)::after {
  content: " insertion end";
}

:where([type="tel"], [type="url"], [type="email"], [type="number"]):not(:placeholder-shown) {
  direction: ltr;
}
