@charset "UTF-8";
@use "_colors";

html {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji", sans-serif;
}

.btn {
  padding: 5px 20px 7px;
  border-radius: 999px;
  font-weight: 700;
  border: 1px solid #000;
  background: var(--neutral-dark-gray);
  color: var(--primary-text);
  &.-active {
    background-color: var(--primary-dark);
  }
}
